version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 20

  - package-ecosystem: "pip"
    directory: "/back"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
      prefix-development: "build(dev)"
    open-pull-requests-limit: 20
    allow:
      - dependency-type: all
    groups:
      minor-and-patch:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"

  - package-ecosystem: "npm"
    directory: "/front"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build"
      prefix-development: "build(dev)"
    open-pull-requests-limit: 20
    groups:
      minor-and-patch:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"

