name: Dora Front CI

permissions:
  contents: read

on:
  push:
    paths:
      - 'front/**'
      - '.github/workflows/front-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: front
        run: npm install

      - name: Check formatting
        working-directory: front
        run: npm run format:check

      - name: Lint code
        working-directory: front
        run: npm run lint

      - name: Run tests
        working-directory: front
        run: npm run test
