name: Dora Front CI

permissions:
  contents: read

on:
  push:
    paths:
      - 'front/**'
      - '.github/workflows/front-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.13]

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: front
        run: npm install

      - name: Check formatting
        working-directory: front
        run: npm run format:check

      - name: Lint code
        working-directory: front
        run: npm run lint

      - name: Run tests
        working-directory: front
        run: npm run test
